hospital_admissions_1/src/main/app/admission.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	version="EE-3.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd ">
	<mulexml:namespace-manager xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
		includeConfigNamespaces="false">
        <mulexml:namespace prefix="ep" uri="http://www.mule-health.com/HospitalInformation/"/>
	</mulexml:namespace-manager>
	<spring:beans>
		<spring:bean id="Derby_Data_Source"
			class="org.enhydra.jdbc.standard.StandardXADataSource"
			destroy-method="shutdown">
			<spring:property name="driverName" value="com.mysql.jdbc.Driver" />
			<spring:property name="url"
				value="jdbc:mysql://localhost:3306/his" />
			<spring:property name="user" value="hisuser" />
			<spring:property name="password" value="hispasswd1234" />
		</spring:bean>
	</spring:beans>
	<configuration doc:name="Configuration">
		<expression-language autoResolveVariables="false">
			<import name="CoverStatusType" class="com.mulesoft.summit.ins.StatusType" />
			<import name="AdmissionResponse" class="com.mulesoft.summit.adm.AdmissionResponse" />
			<import name="AdmissionStatusType" class="com.mulesoft.summit.adm.StatusType" />
			<import name="EhrRequest" class="com.mulesoft.summit.adm.EhrRequest" />
			<import name="Episode" class="com.mulesoft.summit.adm.Episode" />
			<import name="HospitalCoverResponse" class="com.mulesoft.summit.ins.HospitalCoverResponse" />
			<import name="PlanType" class="com.mulesoft.summit.ins.PlanType" />
		</expression-language>
	</configuration>
	<jdbc-ee:connector name="JDBCConnector"
		dataSource-ref="Derby_Data_Source" validateConnections="true"
		queryTimeout="-1" pollingFrequency="0" doc:name="Database">
		<jdbc-ee:query key="retrievePatientId"
			value="CALL proc_retrievePatientId (#[ognl:nationalIdNumber],#[ognl:firstName],#[ognl:lastName],#[ognl:dateOfBirth],#[PATIENT_ID;int;out])" />
	</jdbc-ee:connector>
	<file:connector name="FileConnector" outputPattern="episodes.csv"
		autoDelete="true" outputAppend="true" streaming="true"
		validateConnections="true" doc:name="File" />
	<flow name="admisssions" doc:name="admisssions" tracking:enable-default-events="true">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="9090" path="admissions" doc:name=":9090/admissions" />
		<cxf:jaxws-service
			serviceClass="com.mulesoft.summit.adm.HospitalInformationService"
			doc:name="HospitalInformationService" />
		<enricher target="sessionVars.insurance" doc:name="Enrich with hospitalCoverResponse">
			<flow-ref name="invoke_insurance_web_service" doc:name="Invoke Insurance Web Service" />
		</enricher>
		<choice doc:name="Choice">
			<when
				expression="#[sessionVars.insurance.status == CoverStatusType.NOT_COVERED]">
				<processor-chain>
					<set-payload
						value="#[with (response = new AdmissionResponse()) { status = AdmissionStatusType.NOT_ADMISSABLE }; response ]"
						doc:name="Rejected" />
				</processor-chain>
			</when>
			<otherwise>
				<processor-chain>
					<flow-ref name="admit_patient" doc:name="Admit Patient" />
				</processor-chain>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="invoke_insurance_web_service" doc:name="invoke_insurance_web_service">
		<cxf:jaxws-client operation="verify"
			clientClass="com.mulesoft.summit.ins.InsuranceService_Service" port="InsuranceSOAP"
			enableMuleSoapHeaders="true" doc:name="InsuranceService Client" />
		<http:outbound-endpoint exchange-pattern="request-response"
			host="localhost" port="9393" path="approvals" doc:name="POST :9393/approvals" />
	</sub-flow>
	<sub-flow name="admit_patient" doc:name="admit_patient">
		<enricher source="#[map-payload:PATIENT_ID]" target="sessionVars.patientId"
			doc:name="Enrich with patientId">
			<jdbc-ee:outbound-endpoint
				exchange-pattern="request-response" queryKey="retrievePatientId"
				queryTimeout="-1" connector-ref="JDBCConnector" doc:name="Get patient ID from HIS" />
		</enricher>
	</sub-flow>
</mule>
